<!DOCTYPE html>
<html>
    <head>
        <title>Half-Cold Half-Hot</title>
        <link href="styles.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <h1>Half-Cold Half-Hot</h1>
        <img src="https://vignette.wikia.nocookie.net/bokunoheroacademia/images/1/13/Half-Cold_Half-Hot.png/revision/latest/scale-to-width-down/700?cb=20180304203954" />
        <h3>Holder: Todoroki Shoto</h3>
        <p>This quirk lets the user generate ice from the right side of their body and flames from the left.</p>
    </body>
</html>