<!DOCTYPE html>
<html>
    <head>
        <title>Half-Cold Half-Hot</title>
        <link href="styles.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <h1>Half-Cold Half-Hot</h1>
        <div class="gif"><img src="https://i.pinimg.com/originals/e8/3b/77/e83b77390fa47725fa4f8a30ad10b513.gif" class="gif"/></div>
        <h3>Holder: Todoroki Shoto</h3>
        <p>This quirk lets the user generate ice from the right side of their body and flames from the left.</p>

        <div id="navigation">
            <div id="navigation"><a href="/" id="navigation">Home   |</a></div>
            <div id="navigation"><a href="/explosion" id="navigation">|   Explosion   |</a></div>
            <div id="navigation"><a href="/oneForAll" id="navigation">|   One for All   |</a></div>
            <div id="navigation"><a href="/zeroGravity" id="navigation">|   Zero Gravity</a></div>
        </div>
    </body>
</html>