<!DOCTYPE html>
<html>
    <head>
        <title>Explosion</title>
        <link href="styles.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <h1>Explosion</h1>
        <div class="gif"><img src="https://vignette.wikia.nocookie.net/bokunoheroacademia/images/1/17/Explosion.gif/revision/latest?cb=20170414183340" class="gif"/></div>
        <h3>Holder: Bakugo Katsuki</h3>
        <p>This quirk lets the user ignite their sweat to create explosions.</p>

        <div id="navigation">
            <div id="navigation"><a href="/" id="navigation">Home   |</a></div>
            <div id="navigation"><a href="/coldHot" id="navigation">|   Half-Cold Half-Hot   |</a></div>
            <div id="navigation"><a href="/oneForAll" id="navigation">|   One for All   |</a></div>
            <div id="navigation"><a href="/zeroGravity" id="navigation">|   Zero Gravity</a></div>
        </div>
    </body>
</html>