<html>
  <head>
    <title>My Hero Academia</title>
    <link href="styles.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <h1>My Hero Academia</h1>
    <p>There are many quirks in the BnHA world, but what do they all do? Click the links to explore.</p>

    <ul>
      <li><a href="/explosion">Explosion</a></li>
      <li><a href="/coldHot">Half Cold Half Hot</a></li>
      <li><a href="/oneForAll">One for All</a></li>
      <li><a href="/zeroGravity">Zero Gravity</a></li>
    </ul>
  </body>
</html>
