<html>
  <head>
    <title>My Hero Academia</title>
    <link href="styles.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <h1>My Hero Academia</h1>
    <p>There are many quirks in the BnHA world, but what do they all do? Click the links to explore.</p>

    <ul>
      <li><a href="C:/Users/admin/Desktop/sca2-exercise/2_PM/views/explosion.html">Explosion</a></li>
      <li>Half Hot Half Cold</li>
      <li>One for All</li>
      <li>Pop Off</li>
      <li>Zero Gravity</li>
    </ul>
  </body>
</html>
