<!DOCTYPE html>
<html>
    <head>
        <title>One for All</title>
        <link href="styles.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <h1>One for All</h1>
        <div class="gif"><img src="https://media3.giphy.com/media/57NztNfDPBz9BC2nAm/giphy.gif" class="gif"/></div>
        <h3>Holder: Midoriya Izuku</h3>
        <p>Unlike other quirks, this one is passed down from one holder to another. It lets the user stockpile power in their body.</p>

        <div id="navigation">
            <div id="navigation"><a href="/" id="navigation">Home   |</a></div>
            <div id="navigation"><a href="/coldHot" id="navigation">|   Half Cold Half Hot   |</a></div>
            <div id="navigation"><a href="/explosion" id="navigation">|   Explosion   |</a></div>
            <div id="navigation"><a href="/zeroGravity" id="navigation">|   Zero Gravity</a></div>
        </div>
    </body>
</html>