<!DOCTYPE html>
<html>
    <head>
        <title>Zero Gravity</title>
        <link href="styles.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <h1>Zero Gravity</h1>
        <div class="gif"><img src="https://vignette.wikia.nocookie.net/bokunoheroacademia/images/8/85/Skill_Release.gif/revision/latest?cb=20180910130804" class="gif"/></div>
        <h3>Holder: Uraraka Ochaco</h3>
        <p>This quirk lets the user manipulate gravity by touching solid things.</p>

        <div id="navigation">
            <div id="navigation"><a href="/" id="navigation">Home   |</a></div>
            <div id="navigation"><a href="/explosion" id="navigation">|   Explosion   |</a></div>
            <div id="navigation"><a href="/coldHot" id="navigation">|   Half-Cold Half-Hot   |</a></div>
            <div id="navigation"><a href="/oneForAll" id="navigation">|   One for All</a></div>
        </div>
    </body>
</html>